.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    -moz-backdrop-filter: blur(3px);
}
.modal-content {
    width: 300px;
    background-color: #fefefe;
    margin: 20% auto;
    padding: 10px 20px;
    border: 1px solid #888;
}
.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    float: right;
}
.close:hover,.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.main-content-wrapper {
    width: 100% !important;
}

#putProdHere {
    width: 100% !important;
}

#myModal p {
    text-align: center;
    color: #00e600;
    /* text-shadow: 1px 1px 2px black; */
}